.navbar {
    width: auto;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;     
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #16be40;
    position: absolute;
    /*posicion de las lineas*/
    left: 0;
    bottom: -8px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfad;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}
